@import "common.scss";
@import "_minix.scss";
.wrap {
    height: 100%;
    width: 100%;
    @include box_flex;
    @include direction(column);
    header {
        width: 100%;
        height: pxTorem(44px);
        background: lightgreen;
    }
}